/* first-section-container */
body {
    font-family: "Lato", sans-serif;
}

.first-section-container {
    display: flex;
    text-align: left;
    background-color: rgba(229, 84, 115, 0.1);
    justify-content: space-around;


}

.first-section {

    height: 50%;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.first-h1 {
    color: rgb(39, 39, 39);

    font-size: 60px;
    font-weight: 800;




}

.first-paragraph {
    color: rgba(39, 39, 39, 0.6);

    font-size: 18px;
    font-weight: 400;


}

.first-btn {
    padding: 20px 30px;
    border: 0;


    border-radius: 8px;

    background: rgb(229, 84, 115);
}

.btn-text {
    color: rgb(255, 255, 255);

    font-size: 20px;
    font-weight: 700;

    text-align: left;
}

.first-img {
    height: 600px;
    width: 400px;

    margin-right: 100px;


}

/* second-section */



.second-section-contsiner {
    text-align: center;

}

.second-h1 {
    color: rgb(39, 39, 39);

    font-size: 40px;
    font-weight: 800;

}

.second-paragraph {
    color: rgba(39, 39, 39, 0.6);

    font-size: 18px;
    font-weight: 400;

}

/* flower-second-section */
.second-section{
    margin-left: 150px;
    margin-right: 150px;
}
.flower-second-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.img-back-1 {

    border-radius: 300px 300px 0px 0px;

    background: rgba(167, 33, 98, 0.15);

}

.img-back-2 {
    border-radius: 300px 300px 0px 0px;

    background: rgba(5, 151, 160, 0.15);
}

.img-back-3 {
    border-radius: 300px 300px 0px 0px;

    background: rgba(71, 125, 17, 0.15);
}


.flower-second-section img {

    width: 310px;
    height: 428px;
    padding-top: 150px;


}

.flower-second-section img {
    width: 370px;
    height: 370px;
    padding-top: 150px;
}

.flower-second-section img {
    width: 314px;
    height: 471px;
    padding-top: 100px;


}

.flower-second-section h5 {
    color: rgb(39, 39, 39);

    font-size: 24px;
    font-weight: 700;

    text-align: center;
    text-decoration-line: underline;
}